.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 16px;
}

.form-field {
  width: 100%;
  margin-bottom: 16px;
}
