target
project/boot
/.bsp
/.idea
/logs
/RUNNING_PID
db_dump
/public/assets
/public/main.*.js
/public/polyfills.*.js
/.env
/ui/node_modules
/node_modules
package-lock.json
/public/styles.*.css
/application.log