:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.value-proposition {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 5px;
  color: #000; /* Add this line to set the text color to black */
}

.value-proposition mat-card-title {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 5px;
  color: #333;
}


.cta {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}

.visuals {
  /* Add styles for visuals section */
}

.testimonials {
  /* Add styles for testimonials section */
}

.features {
  /* Add styles for features section */
}
.spacer {
  flex: 1;
}

/*.login-button {*/
/*  color: #ffffff; !* Change this to your desired color *!*/
/*}*/
.logo {
  width: 30px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  /* Add additional CSS rules for positioning, margins, etc. */
}

@keyframes gradientChange {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

main {
  background: linear-gradient(-45deg, #00f, #00f7ff);
  background-size: 300% 300%;
  animation: gradientChange 20s ease infinite;
}
.benefit-card {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 5px;
}

