<main class="gradient-background">
  <section class="value-proposition">
    <h1 class="value-proposition-title">Empower your emotional well-being!</h1>
    <p class="value-proposition-subtitle">Track, understand, and manage your emotions with our comprehensive tool.</p>
  </section>

  <section class="benefits">
    <mat-card class="benefit-card">
      <mat-card-header>
        <mat-card-title>Track Your Emotions</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Identify and track emotions, sub-emotions, and triggers to gain a deeper understanding of your emotional landscape.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="benefit-card">
      <mat-card-header>
        <mat-card-title>Contextualize Your Emotions</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Add notes and context to your emotions and triggers, helping you to analyze and understand your emotional patterns over time.</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="benefit-card">
      <mat-card-header>
        <mat-card-title>Receive Personalized Suggestions</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Get actionable suggestions based on your emotional input, empowering you to take proactive steps towards emotional well-being and personal growth.</p>
      </mat-card-content>
    </mat-card>
  </section>
  <section class="call-to-action">
    <mat-card class="cta-card">
      <mat-card-header>
        <mat-card-title>Start your emotional wellness journey today!</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <button mat-raised-button color="accent" routerLink="/login">Login</button>
        <button mat-button color="primary" routerLink="/signup">Sign up</button>
      </mat-card-content>
    </mat-card>
  </section>
</main>

