:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 60px 0;
}

.value-proposition {
  text-align: center;
  margin-bottom: 60px;
}

.value-proposition-title {
  font-size: 2.5em;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section-title {
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.call-to-action {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.benefit-card {
  max-width: 300px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.benefit-card:hover {
  transform: translateY(-10px);
}

.benefit-card mat-card-title {
  font-size: 1.5em;
  font-weight: bold;
}

.benefit-card button {
  margin-top: 15px;
}
/* app.component.css */
.gradient-background {
  background-image: linear-gradient(
    135deg,
    rgba(173, 216, 230, 1) 0%,
    rgba(221, 160, 221, 1) 50%,
    rgba(144, 238, 144, 1) 100%
  );
  width: 100%;
  height: 100vh;
}
