<div class="date-picker-container">
  <app-custom-date-picker placeholder="Start Date" [formControl]="startDateControl"></app-custom-date-picker>
  <app-custom-date-picker placeholder="End Date" [formControl]="endDateControl"></app-custom-date-picker>
  <button mat-raised-button color="primary" (click)="fetchChartData()">Update Chart</button>
</div>

<mat-tab-group [(selectedIndex)]="activeTab">
  <mat-tab label="Emotions by type">
    <div *ngIf="isLoading" class="loading-screen">
      <mat-spinner diameter="48"></mat-spinner>
      <h2>Loading Emotions Chart...</h2>
    </div>

    <ng-container *ngIf="!isLoading">
      <div class="chart-container">
        <!-- Render the emotions sunburst chart here -->

      </div>
    </ng-container>
  </mat-tab>

  <mat-tab label="Tab 2">
    <!-- Tab 2 content here -->
  </mat-tab>

  <mat-tab label="Tab 3">
    <!-- Tab 3 content here -->
  </mat-tab>

  <mat-tab label="Tab 4">
    <!-- Tab 4 content here -->
  </mat-tab>
</mat-tab-group>
