/* Dynamic background */
@keyframes gradientChange {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background: linear-gradient(-45deg, #ff6347, #40e0d0, #20b2aa, #800080);
  background-size: 400% 400%;
  animation: gradientChange 30s ease infinite;
  min-height: 100vh;
  margin: 0;
}

/* Global header and footer styles */
mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #20b2aa;
  color: white;
}

mat-toolbar button {
  color: #800080;
}
