<div class="add-todo-dialog-content">
  <h2 class="add-todo-dialog-title">Add New Todo</h2>
  <mat-form-field class="add-todo-dialog-input">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="newTodo.title" required>
  </mat-form-field>
  <mat-form-field class="add-todo-dialog-input">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="newTodo.description"></textarea>
  </mat-form-field>
  <div class="add-todo-dialog-actions">
    <button mat-button class="add-todo-dialog-button cancel" (click)="onCancel()">Cancel</button>
    <button mat-button class="add-todo-dialog-button add" (click)="onAdd()" [disabled]="!newTodo.title">Add</button>
  </div>
</div>
