<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button *ngIf="(isAuthenticated | async) === true" mat-icon-button (click)="sidenav.toggle()" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="(isAuthenticated | async) ? '/emotions-timeline' : '/'" class="app-name">Emotion Tracker</a>
    <span class="spacer"></span>
    <div *ngIf="(isAuthenticated | async) === false" class="button-container">
      <button mat-stroked-button color="accent" routerLink="/login">Login</button>
      <button mat-raised-button color="primary" routerLink="/signup">Sign up</button>
    </div>
    <button *ngIf="(isAuthenticated | async) === true" mat-stroked-button color="accent" (click)="logout()">Sign out</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" appScreenSize opened="true" *ngIf="(isAuthenticated | async) === true" class="sidenav">
  <app-navigation></app-navigation>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar color="primary" class="footer">
  <mat-toolbar-row>
    <!-- Add relevant links and contact information here -->
  </mat-toolbar-row>
</mat-toolbar>
