/* Default styles for small screens */
mat-toolbar {
  height: 64px;
}

mat-sidenav-container {
  height: calc(100vh - 128px); /* Subtract the heights of header and footer */
}

mat-sidenav {
  width: 200px;
}

/* Styles for medium and large screens */
@media (min-width: 768px) {
  mat-toolbar {
    height: 80px;
  }

  mat-sidenav-container {
    height: calc(100vh - 160px); /* Subtract the heights of header and footer */
  }

  mat-sidenav {
    width: 250px;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.content {
  flex-grow: 1;
}

.footer {
  flex-shrink: 0;
}

.app-name {
  text-decoration: none;
  color: inherit;
}
.menu-button {
  display: none;
}

@media (max-width: 600px) {
  .menu-button {
    display: block;
  }
}

.spacer {
  flex: 1;
}

.button-container {
  display: flex;
  align-items: center;
}

.sidenav {
  background-color: rgba(63, 81, 181, 0.1); /* You can adjust the color and opacity according to your preference */
  color: rgba(0, 0, 0, 0.87);
  width: 250px;
}

.menu-button {
  display: none;
}

/* Mobile view adjustments */
@media (max-width: 600px) {
  .menu-button {
    display: block;
  }

  mat-sidenav {
    width: 100%;
  }

  .button-container {
    display: none;
  }
}

.sidenav {
  color: rgba(0, 0, 0, 0.87);
  width: 250px;
}

