h2 {
    margin-bottom: 20px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .mat-dialog-container {
    max-width: 100vw; /* Full width on smaller screens */
    margin: 0; /* Remove margins that can cause horizontal scrolling */
    border-radius: 0; /* Optional: Makes the dialog full-width without rounded corners */
  }
  .add-todo-dialog-content {
    padding: 10px; /* Reduced padding on smaller screens */
    max-width: none; /* Full width content on smaller screens */
  }
}

/* Larger Desktop Screens */
@media (min-width: 1200px) {
  .mat-dialog-container {
    max-width: 50vw; /* Set the maximum width for larger screens */
    padding: 20px; /* Consistent padding with the dialog content */
  }
}

/* Even Larger Desktop Screens */
@media (min-width: 1600px) {
  .mat-dialog-container {
    max-width: 800px; /* If you want to make it wider on very large screens */
  }
}
