<div class="create-emotion-container">
  <form [formGroup]="emotionForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Emotion Type</mat-label>
      <mat-select formControlName="emotionType">
        <mat-option *ngFor="let emotion of emotionCache?.emotionTypes" [value]="emotion.emotionType">{{ emotion.emotionType }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="intensity-container">
      <span class="intensity-label">Emotion Intensity  </span>
      <mat-slider
        discrete
        showTickMarks
        min="1"
        max="10"
        step="1"
        (input)="changeSliderColor($event)"
      >
        <input matSliderThumb formControlName="intensity">
      </mat-slider>
      <div class="intensity-color" [ngStyle]="{ 'background': sliderColor }"></div>
    </div>

    <mat-form-field>
      <mat-label>Emotion</mat-label>
      <mat-select formControlName="emotionId">
        <mat-option *ngFor="let emotion of emotionCache?.emotionTypes" [value]="emotion.emotions.id" [hidden]="emotionForm.get('emotionType').value !== emotion.emotion.emotionType">{{ emotion.emotion.emotionName }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Sub-Emotion</mat-label>
      <mat-select formControlName="subEmotionId">
        <ng-container *ngFor="let emotion of emotionCache?.emotions">
          <mat-option *ngFor="let subEmotion of emotion.subEmotions" [value]="subEmotion.subEmotion.subEmotionId" [hidden]="emotionForm.get('emotionId').value !== subEmotion.subEmotion.parentEmotionId">{{ subEmotion.subEmotion.subEmotionName }}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Trigger</mat-label>
      <mat-select formControlName="triggerId">
        <mat-option *ngFor="let trigger of emotionCache?.triggers" [value]="trigger.triggerId">{{ trigger.triggerName }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="emotionForm.invalid">Submit</button>
  </form>
</div>
