.create-emotion-accordion {
  width: 80%;
}

.mat-expansion-panel-header {
  font-size: 1em;
  font-weight: bold;
}

.create-emotion-accordion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-form-field,
.mat-slide-toggle,
.mat-slider {
  width: 100%;
  margin-bottom: 1rem;
}

.intensity-container,
.mat-action-row,
.emotion-cache-loading,
.form-wrapper {
  padding: 0 1rem;
}

.intensity-container,
.emotion-cache-loading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.intensity-label {
  margin-bottom: 0.5rem;
}

.mat-action-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.notes-list,
.note {
  width: 100%;
}

.note {
  flex-direction: column;
}

.mat-card-content,
.form-wrapper {
  margin-right: 0;
}

@media (min-width: 768px) {
  .mat-expansion-panel-header {
    font-size: 1.2em;
  }

  .mat-form-field,
  .mat-slide-toggle,
  .mat-slider {
    margin-bottom: 16px;
  }

  .intensity-label {
    margin-bottom: 8px;
  }

  .mat-action-row {
    margin-top: 16px;
  }
}

.note-field-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.note-field-wrapper label {
  margin-bottom: 0.5rem;
  align-self: flex-start; /* Aligns the label to the start */
}

textarea {
  min-height: 150px; /* You can set this to be as tall as you'd like */
}

.button-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
