<div *ngIf="emotion && emotion.tags.length > 0" class="tags-container">
  <mat-form-field class="example-chip-list">
    <mat-label>Note Tags</mat-label>
    <mat-chip-grid #chipGrid aria-label="Enter Tags">
      <mat-chip-row *ngFor="let tag of emotion.tags"
                    (removed)="deleteTag(tag)"
                    [editable]="false">
        {{tag.tagName}}
        <button matChipRemove [attr.aria-label]="'remove ' + tag.tagName">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      <input [matChipInputFor]="chipGrid"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"/>
    </mat-chip-grid>
  </mat-form-field>
</div>

<div *ngIf="emotion && emotion.notes.length > 0">
  <h3>Notes:</h3>
  <div class="notes-list">
    <div *ngFor="let noteElem of emotion.notes">
      <mat-card class="note">
        <mat-card-content>{{ noteElem.text }}</mat-card-content>
        <button mat-icon-button (click)="deleteNote(noteElem)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card>
    </div>
  </div>

  <div *ngFor="let noteElem of emotion.notes">
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel  >
        <mat-expansion-panel-header>
          <mat-panel-description>
            {{noteElem.title}}
            <button mat-icon-button (click)="deleteNote(noteElem)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-panel-description>
        </mat-expansion-panel-header>
        {{noteElem.text}}
      </mat-expansion-panel>

      <mat-expansion-panel   hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Suggestion
          </mat-panel-title>
          <mat-panel-description>
            The description of the note by AI
          </mat-panel-description>
        </mat-expansion-panel-header>
        Here goes the actual AI description
      </mat-expansion-panel>



    </mat-accordion>
  </div>
</div>

<div class="form-wrapper">
  <form [formGroup]="noteForm" (ngSubmit)="onSubmitNote()">
    <label for="note">Add a note (max 480 chars):</label>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Note</mat-label>
      <textarea id="note" matInput formControlName="note" rows="4" maxlength="480"  [placeholder]=placeHolderText></textarea>
    </mat-form-field>
    <p *ngIf="noteForm.get('note')?.value?.length >= 480">Note limit reached.</p>
    <button mat-raised-button color="primary" type="submit" [disabled]="noteForm.invalid || isLoadingNotes">
      <mat-spinner *ngIf="isLoadingNotes" diameter="24" [style.marginRight.px]="4"></mat-spinner>
      {{ submitBtnTxt }}
    </button>
  </form>
</div>
