<div *ngIf="emotion && emotion.notes.length > 0">
  <h3>Notes:</h3>
  <div class="notes-list">
    <div *ngFor="let noteElem of emotion.notes">
      <mat-card class="note">
        <mat-card-content>{{ noteElem.text }}</mat-card-content>
        <button mat-icon-button (click)="deleteNote(noteElem)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card>
    </div>
  </div>
</div>

<div class="form-wrapper">
  <form [formGroup]="noteForm" (ngSubmit)="onSubmitNote()">
    <label for="note">Add a note (max 480 chars):</label>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Note</mat-label>
      <textarea id="note" matInput formControlName="note" rows="4" maxlength="240"  [placeholder]=placeHolderText></textarea>
    </mat-form-field>
    <p *ngIf="noteForm.get('note')?.value?.length >= 480">Note limit reached.</p>
    <button mat-raised-button color="primary" type="submit" [disabled]="noteForm.invalid || isLoadingNotes">
      <mat-spinner *ngIf="isLoadingNotes" diameter="24" [style.marginRight.px]="4"></mat-spinner>
      {{ submitBtnTxt }}
    </button>
  </form>
</div>
