<div *ngIf="emotion && emotion.notes.length > 0">
  <h3>Notes:</h3>
  <div class="notes-list">
    <div *ngFor="let noteElem of emotion.notes">
      <mat-card class="note">
        <mat-card-content>{{ noteElem.text }}</mat-card-content>
        <button mat-icon-button (click)="deleteNote(noteElem)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card>
    </div>
  </div>
</div>

<div class="form-wrapper">
  <form [formGroup]="noteForm" (ngSubmit)="onSubmitNote()">
    <label for="note">Add a note (max 240 chars):</label>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Note</mat-label>
      <textarea id="note" matInput formControlName="note" rows="4" maxlength="240" placeholder="Try to describe how this emotion is affecting your daily activities or your interactions with others. Are there any noticeable patterns or recurring events? How do you wish to feel instead? What steps do you think you could take to influence your emotional state? Remember, you can also use #hashtags to categorize or highlight key points in your note."></textarea>
    </mat-form-field>
    <p *ngIf="noteForm.get('note')?.value?.length >= 240">Note limit reached.</p>
    <button mat-raised-button color="primary" type="submit" [disabled]="noteForm.invalid || isLoadingNotes">
      <mat-spinner *ngIf="isLoadingNotes" diameter="24" [style.marginRight.px]="4"></mat-spinner>
      Submit Note
    </button>
  </form>
</div>
