/* Styling for the notes section */
.notes-list {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Vertical space between notes */
    --text-align-direction: left; /* Default alignment direction */
}

.note {
    display: flex;
    align-items: center; /* Vertically center the content */
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    position: relative;
    width: 800px;
}

.mat-card-content {
    flex-grow: 1; /* Allow the content to take available space */
    padding: 15px;
    font-size: 14px;
    line-height: 1.5;
    margin-right: 30px; /* Give space for delete button */
    text-align: var(--text-align-direction); /* Use the CSS variable for text alignment */
}

button[mat-icon-button] {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Styling for the note form */
.form-wrapper {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    width: 500px;
    margin: 2px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
}

.full-width {
    width: 100%;
    margin-bottom: 20px;
}

textarea {
    padding: 10px; /* Horizontal padding */
    resize: vertical; /* Allow vertical resize only */
    width: 100%; /* Ensure it takes full width */
    min-height: 200px; /* Set a minimum height */
    box-sizing: border-box; /* Include padding and border in total width */
}

button[mat-raised-button] {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-weight: 600;
    margin-top: 10px; /* Vertical space from the textarea */
}

.mat-spinner {
    margin-right: 10px;
}

@media (min-width: 768px) {
    .note {
        width: 500px;
    }
    form {
        max-width: 500px; /* Set max-width to match the .note width */
    }
}
.full-width {
    width: 100%;
}


.note-form-card {
    width: calc(100% - 32px); /* Adjust based on your card's padding */
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
