@(title: String)(implicit request: RequestHeader)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
    </head>
    <body>
        <h1>Login</h1>
        @request.flash.get("error").map { errorMessage =>
            <div class="alert alert-danger">@errorMessage</div>
        }
        <form method="POST" action="@routes.LoginController.login()">
            <label>
                <input type="text" name="username" placeholder="Username" required>
            </label>
            <br>
            <label>
                <input type="password" name="password" placeholder="Password" required>
            </label>
            <br>
            <button type="submit">Login</button>
        </form>
    </body>
</html>
