<div *ngIf="isLoading" class="loading-screen">
  <mat-spinner diameter="48"></mat-spinner>
  <h2>Loading...</h2>
</div>
<ng-container *ngIf="!isLoading && emotion">
  <div class="display-emotion-container">
    <h2>Emotion Details</h2>
    <div class="card-container">
      <mat-card>
        <mat-card-content>
          <div>
            <strong>Emotion Type:</strong> {{ emotion.emotionType }}
          </div>
          <div>
            <strong>Emotion:</strong> {{ emotion.emotion.emotionName }}
          </div>
          <div>
            <strong>Intensity:</strong> {{ emotion.intensity }}
          </div>
          <div>
            <strong>Sub-Emotion:</strong> {{ emotion.subEmotions[0].subEmotionName }}
          </div>
          <div>
            <strong>Trigger:</strong> {{ emotion.triggers[0].description }}
          </div>
          <div>
            <strong>Created:</strong> {{  this.dateService.formatDateFromDb( emotion.created!) }}
          </div>
        </mat-card-content>
      </mat-card>

      <app-emotion-note-form [emotion]="emotion"></app-emotion-note-form>

      <div *ngIf="emotion && emotion.tags.length > 0" class="tags-container">
        <h3>Tags:</h3>
        <mat-card class="tags">
          <mat-card-content>
            <mat-chip-set>
              <mat-chip-option disabled *ngFor="let tag of emotion.tags">{{ tag.tagName }}</mat-chip-option>
            </mat-chip-set>
          </mat-card-content>
        </mat-card>
      </div>


    </div>
  </div>
</ng-container>
