<div *ngIf="isLoading" class="loading-screen">
  <mat-spinner diameter="48"></mat-spinner>
  <h2>Loading...</h2>
</div>
<ng-container *ngIf="!isLoading && emotion">
  <div class="display-emotion-container">
    <h2>Emotion Details</h2>
    <div class="card-container">
      <mat-card>
        <mat-card-content>
          <div>
            <strong>Emotion Type:</strong> {{ emotion.emotionType }}
          </div>
          <div *ngIf="emotion.emotion">
            <strong>Emotion:</strong> {{ emotion.emotion.emotionName }}
          </div>
          <div>
            <strong>Intensity:</strong> {{ emotion.intensity }}
          </div>
          <div *ngIf="emotion.subEmotions[0]">
            <strong>Sub-Emotion:</strong> {{ emotion.subEmotions[0].subEmotionName }}
          </div>
          <div *ngIf="emotion.triggers[0]">
            <strong>Trigger:</strong> {{ emotion.triggers[0].description }}
          </div>
          <div *ngIf="emotion.tags[0]">
            <!-- display all tags as references on one line-->
            <strong>Tags:</strong>
            <span *ngFor="let tag of emotion.tags; let last = last">
              {{ tag.tagName }}{{ last ? '' : ', ' }}
            </span>
          </div>
          <div>
            <strong>Created:</strong> {{  this.dateService.formatDateFromDb( emotion.created!) }}
          </div>
        </mat-card-content>
      </mat-card>

      <app-emotion-note-form [emotion]="emotion"></app-emotion-note-form>


    </div>
  </div>
</ng-container>
