.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.display-emotion-container {
  padding: 20px;
}

.card-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

mat-card {
  margin-bottom: 20px;
}

mat-card-content div {
  margin-bottom: 10px;
}

.example-chip-list {
  width: 100%;
  max-width: 100%;
}

.example-headers-align {
  margin-top: 20px;
}
